.contenedor {
    width: 75vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.frm-investigador {
    width: 700%;
    margin: 0 !important;
    padding: 0 !important;
}

.mis-tabs {
    width: 100%;
    transition: all ease-out 460ms;
    display: flex;

    .mi-tab {
        width: 14.29% /* 100% entre 7 secciones */;
        padding: 1.5rem;
    }

}

.btn {
    border-radius: 20px !important;
}

.btn-registro {
    font-size: 1.5rem;
}


.oculto {
    display: none;
}

/* Responsive de select 2*/
.select2.select2-container.select2-container--bootstrap-5 {
    width: 100% !important;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    .contenedor {
        width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    .contenedor {
        width: 97vw;
    }
}
