:root {
    --gris: #343c4c;
    --azul: #14347c;
    --blanco: #f2f2f2;
}

.contenedor {
    width: 75vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.frm-investigador {
    width: 700%;
    margin: 0 !important;
    padding: 0 !important;
}

.mis-tabs {
    width: 100%;
    transition: all ease-out 460ms;
    display: flex;

    .mi-tab {
        width: 14.29% /* 100% entre 7 secciones */;
        padding: 1.5rem;
    }

}

.btn {
    border-radius: 20px !important;
}

.btn-registro {
    font-size: 1.5rem;
}


.oculto {
    display: none;
}

.bg-conacyt {
    background-color: var(--gris) !important;
}

.logo-institucion img {
    width: 50px;
}

.espacio-menu {
    width: 100%;
    height: 87px;
}

/* Estilo de listado de documentos de investigador  */
.documentos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;

    .doc {
        background-color: var(--gris);
        display: flex;
        margin: 0.75rem 0.5rem;

        .icono {
            background-color: var(--azul);
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: var(--blanco);
                font-size: 1.75rem;
            }
        }

        span {
            color: var(--blanco);
            font-size: 1.1rem;
            padding: 0.25rem 0.5rem;
            
        }
    }

    .enlace-doc{
        text-decoration: none;
        transition: all ease 250ms;
    }

    .enlace-doc:hover {
        opacity: 0.85;
    }
}

/* Observaciones del investigador */
.observaciones {
    width: 100%;
    margin-bottom: 1rem;

    .observacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F3EFF5;
        padding: 0.5rem;
        margin: 0.45rem 0;
        border-radius: 4px;

        span {
            font-weight: 400;
            font-size: 1rem;
        }

        i {
            font-size: 2rem;
            color: red;
            cursor: pointer;
        }
    }
}

/* Visor de PDF */

.visor-pdf {
    width: 100%;
    border: none;
    height: 100vh;
}

/* Responsive de select 2*/
.select2.select2-container.select2-container--bootstrap-5 {
    width: 100% !important;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    .contenedor {
        width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    .contenedor {
        width: 97vw;
    }
}
